body {
    background-color: 0D6C7E;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    background: linear-gradient(90deg, #672280 1.18%, #0D6C7E 100%);
    color: white;
}

